
.container{
    margin-top: 50px;
    .maincontainer{
        margin-left: 20px;
        .btnDiv{
            .btn{
                width:200px;
                height:50px;
            }
    
        }
       
    }
    .dataGrid{
        margin-top: 100px;
    }
}
